* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
p,
img,
div {
    margin: 0;
    padding: 0;
}

:root {
    --color-active: #F2F2F2;
    --color-white: rgba(255, 255, 255, 0.5);
    --color-green: #8DD83D;
    --color-gray-dark: #373A3C;
    --color-gray-lineGradient: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    --color-gray-radGradient: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
    --color-green-footer: #7DD42F;
    --sizeindex: calc(1vw + 1vh);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    padding: 11px 11.6% 9px;
    background-color: var(--color-gray-dark);
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 26.7%;
}

.nav {
    margin-right: 3.2%;
    width: 27.5%;
    display: flex;
    align-items: center;

}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__item:not(:last-child)::after {
    content: url('../img/down-arrow.png');
    position: relative;
}

.nav__href {
    color: var(--color-white);
    font-size: calc(var(--sizeindex) * .7);
}

.search {
    width: 19.7%;
    margin-right: 2.5%;
}

.search__input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 9px 6%;
    font-size: calc(var(--sizeindex) * .7);
}

.profile__entrance {
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: calc(var(--sizeindex) * .7);
}

.profile__entrance__svg {
    margin-right: 4%;
}

.profile__entrance::after {
    content: url('../img/down-arrow.png');
    position: relative;
    left: 10%;
}

.homePage__carousel {
    position: relative;
    margin-bottom: -20px;
}

.homePage__carousel__slider img {
    max-width: 100%;
}


.slick-list {
    overflow: hidden;
}

.slider {
    max-width: 100%;
    position: relative;
}

.slick-track {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    overflow: hidden;
}

.slider .slick-arrow {
    position: absolute;
    top: 47%;
    z-index: 1000;
    font-size: 0;
    min-width: 3vw;
    min-height: 5vh;
}

.slick-active {
    margin-bottom: 0;
}

.slider .slick-arrow.slick-prev {
    left: 4%;
    background: url('../img/icon-prev.png') 0 0 no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 1.8%;
    background: url('../img/icon-next.png') 0 0 no-repeat;
}

.homePage__carousel-wrapper {
    margin-bottom: 0;
}

.homePage__carousel__card {
    width: 21.5%;
    z-index: 1000;
    position: absolute;
    top: 32.8%;
    left: 59.5%;
}

.homePage__carousel__card__descr {
    color: var(--color-active);
    font-size: calc(var(--sizeindex) * 1.6);
    line-height: 4.6vh;
}

.homePage__carousel__card__span {
    display: block;
    font-size: calc(var(--sizeindex));
    line-height: 4vh;
    color: var(--color-active);
    margin-bottom: 43.5%;
}

.homePage__carousel__card__bottom {
    display: flex;
    justify-content: space-between;
}

.homePage__carousel__card__btn {
    font-size: calc(var(--sizeindex) * .7);
    color: var(--color-active);
    padding: 9px 7.5%;
    border-radius: 4px;
    background: var(--color-gray-lineGradient);
    border: none;
}

.slick-dots {
    width: 3.3vw;
    justify-content: space-between;
    display: flex;
    z-index: 1000;
    position: absolute;
    left: 48.2%;
    bottom: 7%;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--color-green);
    background-color: transparent;
}

.slick-dots .slick-active button {
    background-color: var(--color-green);
}

.homePage__best-wrapper {
    background: var(--color-gray-lineGradient);
    padding: 5.7% 11.5% 11.5% 11.5%;
}

.homePage__best__descr {
    text-align: center;
    margin-bottom: 3.9%;
}

.homePage__best__descr__logo {
    margin-bottom: 1.2%;
}

.homePage__best__descr__title {
    font-size: calc(var(--sizeindex) * 2.1);
    color: var(--color-active);
    font-weight: 300;
}

.homePage__best__descr__title-mini {
    font-size: calc(var(--sizeindex) * 1.6);
    color: var(--color-active);
    font-weight: 300;
}

.homePage__best__cards {
    display: flex;
    justify-content: space-between;
}

.homePage__best__cards__left,
.homePage__best__cards__center,
.homePage__best__cards__right {
max-width: 29.6%;
border: 1px solid var(--color-green);
border-radius: 4px;
background-color: #FFFFFF;
position: relative;
padding: 0 0 5.5% 0;
}

.homePage__best__cards__left img,
.homePage__best__cards__center img,
.homePage__best__cards__right img {
    max-width: 100%;
}

.homePage__best__cards__left__bottom {
    padding: 6% 4% 8.5% 6.5%;
}

.homePage__best__cards__left__bottom__name {
    color: #435766;
    font-size: calc(var(--sizeindex) * .8);
    margin-bottom: 5%;
}

.cards__title {
    font-size: calc(var(--sizeindex) * 1.1);
    color: #435766;
    margin-bottom: 13.5%;
    font-weight: 400;
}

.cards__title img {
    max-width: 100%;
}

.cards__btn {
    padding: 7% 8.2%;
    font-size: calc(var(--sizeindex) * .7);
    color: var(--color-active);
    background-color: var(--color-green);
    border-radius: 4px;
    border: transparent;
    position: absolute;
    bottom: 6%;
    left: 7%;
}

.homePage__best__cards__center__top {
    background-color: #FAFAFA;
    padding: 16.5% 12% 20% 19%;
}

.homePage__best__cards__center__bottom {
    padding: 7.3% 0 0 8%;
}

.homePage__best__cards__center__bottom__name {
    color: #435766;
    font-size: calc(var(--sizeindex) * .8);
    margin-bottom: 4.2%;
}

.homePage__best__cards__center__bottom__btn {
    width: 90%;
    padding: 7% 22%;
}

.homePage__best__cards__right__top {
    padding: 10% 18%;
    background-color: #FAFAFA;
}

.homePage__best__cards__right__bottom__title {
    width: 70%;
}

.homePage__best__cards__right__bottom {
    padding: 7% 0 0 6%;
}

.homePage__best__cards__right__bottom__name {
    color: #435766;
    font-size: calc(var(--sizeindex) * .8);
    margin-bottom: 4%;
}

.homePage__best__cards__right__bottom__btn {
    width: 88%;
    padding: 7% 10%;
}

.homePage__exclusive {
    margin-bottom: 490px;
}

.homePage__exclusive-wrapper {
    position: relative;
    padding: 7% 0 10% 1%;
    z-index: 200;
    background: url('../img/Exclisive.jpg') 0 0 no-repeat;
}

.background-tint {
    background-color: rgba(23, 23, 23, 0.5);
    background-blend-mode: multiply;
  }

.homePage__exclusive__title {
    font-size: calc(var(--sizeindex) * 1.6);
    color: var(--color-active);
    z-index: 1000;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.6%;
}

.homePage__exclusive__slider {
padding: 0 0 0 4%;
}

.homePage__exclusive__slider__item {
    border: 1px solid var(--color-green);
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 1.6%;
    margin-right: .5%;
}

.homePage__exclusive__slider__item img {
    max-width: 100%;
}

.homePage__exclusive__slider .slick-list.draggable {
    margin-bottom: 0;
}

.draggable {
    height: auto;
}

.homePage__exclusive__slider .slick-prev.slick-arrow {
    font-size: 0;
}

.homePage__exclusive__slider .slick-next.slick-arrow {
    font-size: 0;
    background: url('../img/icon-next2.png') 0 0 no-repeat;
    position: absolute;
    right: 0;
    top: 12%;
    z-index: 2000;
    width: 5vw;
    height: 5vh;
    border: none;
}

.homePage__exclusive__slider__item__card1__bottom,
.homePage__exclusive__slider__item__card2__bottom,
.homePage__exclusive__slider__item__card3__bottom,
.homePage__exclusive__slider__item__card4__bottom {
    padding: 7% 5% 7.5% 5%;
}

.homePage__exclusive__slider__item__card1__bottom__name,
.homePage__exclusive__slider__item__card2__bottom__name,
.homePage__exclusive__slider__item__card3__bottom__name,
.homePage__exclusive__slider__item__card4__bottom__name {
color: #435766;
font-size: calc(var(--sizeindex) * .8);
}

.homePage__exclusive__slider__item__card1__bottom__name {
    margin-bottom: 6.5%;
}

.homePage__exclusive__slider__item__card1__bottom__title {
    font-size: calc(var(--sizeindex) * .92);
    color: #435766;
    font-weight: 200;
    margin-bottom: 17%;
}

.homePage__exclusive__slider__item__card__bottom__btn {
    max-width: 100%;
    color: var(--color-active);
    background-color: var(--color-green);
    border-radius: 4px;
    border: none;
    position: relative;
    padding: 7% 35%;
 
    font-size: calc(var(--sizeindex) * .7);
}

.homePage__exclusive__slider__item__card2__bottom__name,
.homePage__exclusive__slider__item__card3__bottom__name,
.homePage__exclusive__slider__item__card4__bottom__name {
    margin-bottom: 40%;
}

.homePage__exclusive__btn {
   display: block;
   margin: 0 auto;
   font-size: calc(var(--sizeindex) * .8);
   color: var(--color-active);
   background: var(--color-gray-lineGradient);
   padding: 1% 3%;
   border-radius: 4px;
}


/*  */


.footer__wrappper {
    background: var(--color-gray-dark);
}

.footer__wrappper__top {
    padding: 60px 383px 0px 165px;
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    font-size: 18px;
    color: var(--color-green);
    margin-bottom: 34px;
}

.footer__wrappper__left__list__href,
.footer__wrappper__center__list__href {
    color: var(--color-active);
    font-size: 14px;
}

.footer__wrappper__left__list__item:not(:last-child),
.footer__wrappper__center__list__item:not(:last-child) {
    margin-bottom: 27px;
}

.footer__wrappper__right__list {
    display: flex;
    justify-content: space-between;
}

.footer__wrappper__top {
    margin-bottom: 49px;
}

.footer__wrappper__bottom {
    padding: 0 100px;
}

.footer__wrappper__bottom__border {
    border-top: 1px solid var(--color-white);
    margin-bottom: 19px;
}

.footer__wrappper__bottom__descr {
    display: flex;
    justify-content: space-between;
}

.footer__wrappper__bottom__lang,
.footer__wrappper__bottom__copy {
    color: var(--color-active);
    font-size: 16px;
}